<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Zig</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="assets/styles.css"></head>
<body>
  <app-root></app-root>
<script src="assets/runtime.js" defer></script><script src="assets/polyfills.js" defer></script><script src="assets/vendor.js" defer></script><script src="assets/main.js" defer></script></body>
</html>
