<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Zig</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"></head>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<body>
  <app-root></app-root>
  <script src="{{ url_for('static', filename='runtime.js') }}" defer></script>
  <script src="{{ url_for('static', filename='polyfills.js') }}" defer></script>
  <script src="{{ url_for('static', filename='vendor.js') }}" defer></script>
  <script src="{{ url_for('static', filename='main.js') }}" defer></script>
</body>
</html>
